<!DOCTYPE html>

<html>
<head>
        <link rel="stylesheet" href='/css/bootstrap.css'/>
        <link rel="stylesheet" href='/css/styles.css'/>

<title> Profile  </title>
</head>



<body>
        <% include ./partial-templates/nav  %>
        

        <div id="older posts">


                        
           <h1 class="Anton"> <%= user[0].firstName%> Latest posts :</h1>
           <% for (var i=0; i< posts.length; i++){ %>
                <br>
                <div style="display:flex;justify-content:center;align-items:center;">
                        <div class="card border border border-info" style="width: 75%; height: 150px; border-width:3px !important" >
                                        
                                        <div class="card-body">
                                          <p class="card-text"><%= posts[i].post %></p>
                                        </div>
                        </div>

                </div>
                <%}%>
                </br>



        

               


        </div>











         

        <script src='/js/jquery-3.3.1.min.js'></script> 
        <script src='/js/popper.min.js'></script> 
        <script src='/js/bootstrap.min.js'></script> 
        <script src=https://code.jquery.com/jquery-migrate-3.0.0.min.js></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
        <script src='/scripts/profile.js'></script>
</body>

</html>